<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HMessager"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <provider
            android:authorities="com.hpn.hmessager.ui.activity.ConvActivity.provider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path"/>
        </provider>

        <activity
            android:name=".ui.activity.SettingsActivity"
            android:configChanges="orientation|keyboard"
            android:exported="false"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.HMessager"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.ConvActivity"
            android:configChanges="orientation|keyboard"
            android:exported="false"
            android:label="@string/title_activity_conv"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.HMessager"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.ConvListActivity"
            android:configChanges="orientation|keyboard"
            android:exported="false"
            android:label="@string/title_activity_conv_list"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.HMessager"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.NewConvActivity"
            android:configChanges="orientation|keyboard"
            android:exported="false"
            android:label="@string/title_activity_conv_list"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.HMessager"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:configChanges="orientation|keyboard"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.HMessager"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>